.body{
    display: flex;
    flex-direction: row;
}

.buttonz{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 26px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    width : 740px;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.boxs{
    background-color: aqua;
    height: 40px;
    width: 40px;
}

.clicked{
    background-color: black;
}